.section-technologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    height: 550px;
    align-items: center;
    max-width: 1200px;
}

.section-technologies-info {
    display: flex;
    flex-direction: column;
}

.section-technologies-title {
    font-size: 3rem;
}

.section-technologies-description {
    font-size: 1.5rem;
    line-height: 120%;
    margin: 40px 100px 25px 0;
}

.section-technologies-title::after {
    content: "";
    margin-top: 10px;
    border-radius: 40px;
    width: 50px;
    height: 6px;
    background: linear-gradient(95.51deg, #FD93C9 0%, #BF79F7 100%);
    display: block;
}

.section-technologies-main {
    display: flex;
    justify-content: flex-end;
}

.section-technologies-techs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff08;
    border-radius: 20px;
    padding: 25px;
    width: 500px;
}

.section-technologies-content {
    background-image: linear-gradient(95.51deg, #FD93C9 0%, #BF79F7 100%);
    border-radius: 20px;
    cursor: pointer;
    height: 106px;
    margin: 20px 0 20px 0;
    transition: all ease 300ms;
    width: 106px;
}

.section-i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.7rem;
    height: 106px;
}

.section-technologies-content:hover {
    transform: scale(1.1);
}

.i-html:hover {
    color: #ee631a;
}

.i-css:hover {
    color: #0072b3;
}

.i-js:hover {
    color: #f1bd44;
}

.i-react:hover {
    color: #5ccfee;
}

.i-node:hover {
    color: #89bb3c;
}

.i-mongo:hover {
    color: #679d5a;
}

.i-git:hover {
    color: #e74b27;
}

.i-git-hub:hover {
    color: #000000;
}

@media (max-width: 1400px) {
    .section-technologies {
        height: 700px;
    }
}

@media (max-width: 1200px) {
    .section-technologies-main {
        justify-content: center;
        margin: 80px 0 80px 0;
    }

    .section-technologies {
        grid-template-columns: 100%;
        height: 900px;
    }

    .section-technologies-description {
        margin: 40px 0 0 0;
    }

}

@media (max-width: 600px) {
    .section-technologies-techs {
        display: none;
    }

    .section-technologies-description {
        font-size: 1.3em;
        line-height: 150%;
        margin-top: 20px
    }

    .section-technologies-title {
        font-size: 2.2rem;
    }

    .section-technologies {
        margin: 50px 0 0 0;
        height: 440px;
    }
}

@media (max-width: 500px) {
    .section-technologies {
        height: 500px;
    }
}

@media (max-width: 378px) {
    .section-technologies {
        height: 560px;
    }
}

@media (max-width: 330px) {
    .section-technologies {
        height: 400px;
    }

    .section-technologies-description {
        font-size: 1rem;
    }
}