.slider {
    background-color: #080713;
    border-radius: 10px;
    padding: 25px 45px 25px 45px;
    width: 450px;
}

.slider-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 4px;
}

.slider-main {
    margin-bottom: 20px;
}

.slide-img {
    height: 110px;
}

.slider-content {
    display: flex;
}

.slider-content-info {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.slider-info {
    padding-left: 20px;
}

.slider-info-title {
    font-size: 1rem;
    margin-bottom: 15px;
}


@media (max-width: 1300px) {
    .slider {
        width: 400px;
    }
}

@media (max-width: 1200px) {

    .slider {
        background-color: #0b0a17;
        width: 650px;
    }
}

@media (max-width: 900px) {
    .slider {
        width: 450px;
    }
}

@media (max-width: 700px) {
    .slider {
        width: 400px;
    }
}

@media (max-width: 535px) {
    .slider {
        width: 300px;
    }

    .slider-info {
        padding-left: 0;
        padding-top: 10px;
        text-align: justify;
    }

    .slider-info-title {
        text-align: center;
    }

    .slider-content-info {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .slider {
        width: 250px;
    }

    .slider-info {
        text-align: center;
    }
}

@media (max-width: 360px) {
    .slider {
        width: 200px;
    }
}

@media (max-width: 310px) {
    .slider {
        width: 180px;
    }
}